.root {
  background-color: #2f2f2f;
}

.despesasList {
  width: 99vw;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  align-items: center;
  /* justify-content: center; */
  height: 65vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-top: 15px;
  row-gap: 15px;
  padding-bottom: 15px;
}
.despesasList::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}

.wrapperButtons {
  display: flex;
  gap: 5px;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 5%;
}

.wrapperRows {
  width: 85%;
  background-color: cadetblue;
  /* justify-content: space-around; */
  display: flex;
  flex-direction: column;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.despesasRow {
  width: 100%;
}
.despesasRow,
.listHeaderRow {
  cursor: pointer;
  /* margin-bottom: 15px; */
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(220, 235, 248);
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  gap: 5px;
  margin: 10px 0 0 0;
}

.detailsDespesa {
  background-color: aquamarine;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.tableBody {
  width: 90vw;
}

.listHeader {
  width: 100vw;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.listHeaderRow {
  width: 90vw;
  margin-bottom: 15px;
}

.rowData {
  overflow: hidden;
  width: 12.5%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
